@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #74b816;
  --color-tab1: #ff8787;
  --color-tab2: #ffe066;
  --color-tab3: #74c0fc;
  --color-neutral: #f3f3f3;
  --color-grey: #e2e8f0;
  --color-dark: #444;
}

html {
  font-size: 18px;
}

body {
  font-family: 'Lato', sans-serif;
  color: #444;
  background-color: #acd368;
}

h1 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.main {
  width: 50rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.main-title {
  margin-bottom: 4rem;
}

.btn {
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.2rem;
}

.static-div {
  background-color: var(--color-dark);
  height: 12rem;
  border-radius: 0.5rem;
  padding-top: 0.5rem;
  position: relative;
}

/* The Tabs */

.tabs-container {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  position: absolute;
  z-index: 999;
  top: 11%;
  transform: translate(20%, -154%);
}

.tab-btn {
  padding: 0.5rem 3.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: var(--color-grey);
}

.tab-btn-1-active {
  background-color: var(--color-tab1);
}

.tab-btn-2-active {
  background-color: var(--color-tab2);
}

.tab-btn-3-active {
  background-color: var(--color-tab3);
}

/* The Content */
.content {
  display: none;
}

.content-active {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  /* row-gap: 1rem; */
  column-gap: 1rem;
  background-color: #f3f3f3;
  padding: 1rem;
  margin: 1rem;
  justify-items: center;
  align-items: center;
  border-radius: 0.5rem;
  position: relative;
}

.content-icon {
  width: 2.2rem;
  height: 2.2rem;
  grid-row: span 2;
  grid-column: 1;
  align-self: center;
}

.content-text {
  grid-column: 2;
  line-height: 1.5;
}
